package challenges.mNN.fNN;

import static org.junit.jupiter.api.Assertions.assertEquals;

import org.junit.jupiter.api.Test;

class NomeDaClasseTest {

  @Test
  void casoDeExemplo() {
    // TODO: casos de teste da fase
  }
}
